<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student College List</title>
    <style>
        #temp
        {
            position: absolute;
            z-index: 3;
        }
        #total
        {
            width: 50px;
        }
    </style>
</head>
<body>
    <table align="center" border="2px">
        {%if not stud_specific%}
            <h2>College not found</h2>
        {%else%}
            <tr>
                <th>Student Name</th>
                <th>E-Mail</th>
                <th id = "total">Total</th>
            </tr>
            {%for obj in stud_specific%}
                <tr>
                    <td>{{obj.name}}</td>
                    <td>{{obj.email}}</td>
                    <td><button id = "temp" onclick="getElementById('temp'); this.style.display = 'none'">Marks</button>{{obj.mocktest1__total}}</td>
                </tr>
            {%endfor%}
        {%endif%}
    </table>

</body>
</html>