<html>
    <body>
                    <link rel="stylesheet" type="text/css" href="buttons.css">
        <style>
         .heading {

    color: blue;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size:40px;
    
}

@keyframes example {
    0%   {color: blue; left:0px;}
    50%  {color: palevioletred; left:0px;}
    100% {color: peru; left:0px;}
}
        </style>
<h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="heading">Description </span>
    </h1>
        <p><br>
            <br>
            <!--This event is related to education and this is a 4 hour workshop.<br>-->
            <!--In this event each of the volunteer will work with a students and teach basics of maths...-->
            {%for desc in descrip%}
            {{desc.description}}
            {%endfor%}
        </p>
        <a href = "haveinterest/"><button>Interested</button></a>
    <button onclick="/firstpage/" >Not Interested</button>
    
    
        
        
 
    </body>
</html>
