<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event successful</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
   body{
   background-image: url("success.jpg");
       
    background-size: 100% 500%;
    background-repeat: no-repeat;
    padding:15px;

   }
   
    
  </style>
</head>
<body>

<div class="container">
  <br><br><br>

  <h1 style="color: green">Successfully Created an Event !!</h1><br><br>
  <form action="#">
    <a href="admin_home.html">Home</a>
  </form>
    

</body>
</html>