<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add location</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   body{
   background-image: url("loc.jpg");
      
    background-size: 100% 250%;
    background-repeat: no-repeat;
    padding:15px;

   }
   
    
  </style>
</head>
<body>
  <br>

<div class="container">
  <h2 style="color: red"> Enter Location</h2><br><br>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="loc" placeholder="Enter location" name="loc" width="50%">
    </div>
    <br>
    <br>
   
    <button type="submit" class="btn btn-success">Add Location</button>
    <button type="submit" class="btn btn-success">Done</button>
  </form>
</div>

</body>
</html>
