body{
	margin: 0;
	padding: 0;
	background: url(library-4.jpg) repeat;
	background-position: center;
    background-size: cover;
	background-position: center;
	font-family: sans-serif;
    color:black;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
}

input[type="text"]{
      	width: 40%;
        text-align:center;
        font-size: 30px;
        color:black;
        background-color:lightgoldenrodyellow;
    
      }
input[type="submit"]{
        text-align:center;
        font-size: 25px;
        color:black;
        margin-left: 18%;
        background-color: aliceblue;

      }


input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: darkred;

}
        p{
            margin-right: 10px;
        }


